@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@700&display=swap');

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

ul {
    margin: 0px;
}

body {
    margin: 0px;
    background: url(/assets/images/background.png) no-repeat center;
    background-size: 100%;
}

wrapper {
    width: 595px;
    height: 500px;
    background-color: #ffffff;
}

header {
    display: flex;
    margin: auto;
    margin-top: 26px;
    width: 560px;
    height: 130px;
}

.personal-logo {
    border-radius: 50%;
}

.header-title {
    font-family: 'Roboto', sans-serif;
}

.header-title h1 {
    font-size: 36px;
    color: #f57a0e;
}

.header-title h2 {
    font-size: 16px;
    color: #5e5e5e;
    opacity: 0.7;
}