@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@700&display=swap');

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 10px 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #f57a0e;
    opacity: 0.8;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #4e4e4e;
}

p {
    margin: 0px;
    padding: 0px;
    color: #4e4e4e;
}

pre {
    margin: 0px;
    padding: 0px;
}

section {
    margin: auto;
    padding: 0px;
    width: 250px;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 26px;
    width: 560px;
    height: 130px;
}

.personal-logo {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.header-title {
    width: 211px;
    font-family: 'Roboto', sans-serif;
}

.header-title h1 {
    font-size: 36px;
    color: rgba(245, 122, 14, 0.9);
}

.header-title h2 {
    font-size: 16px;
    color: #5e5e5e;
    opacity: 0.7;
}

.header-nav ul {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.header-nav li {
    display: flex;
}

.header-nav img {
    width: 20px;
    height: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
    margin-top: 25px;
    width: 595px;
    border-radius: 20px;
    background-color: rgba(245, 122, 14, 0.15);
}

.main-info {
    width: 500px;
    margin: auto;
}

.main-projects a {
    line-height: 20px;
    color: #4e4e4e;
    text-decoration: none;
}

.main-languages {
    margin-bottom: 25px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 595px;
}

.footer-github-logo {
    width: 40px;
    height: 40px;
}

.footer-rsschool-logo {
    width: 80px;
    height: 60px;
}